{% extends 'base.html.twig' %}

{% block body %}
    <h1>Products list</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Number</th>
            <th>Model</th>
            <th>Price</th>
            <th>Quantity</th>

        </tr>
        </thead>
        <tbody>
        {% for key,product in products %}
            <tr>
                <td><a href="{{ path('product_show', { 'id': product.id }) }}">{{ key+1 }}</a></td>
                <td>{{ product.model }}</td>

                {% if calc.calculate(product) != product.price %}

                <td><del>{{ product.price }}</del><p class="alert-danger">{{ calc.calculate(product) }}</p></td>

                {% else %}

                    <td>{{ product.price }}</td>

                {% endif %}




                <td>{{ product.quantity }}</td>
                <td>

                            <a class="btn btn-primary" href="{{ path('product_show', { 'id': product.id }) }}">Show More</a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block content %}


    <div class="container">
    <div id="products" class="row list-group">
    {% for key,product in products %}
        <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
                <img class="group list-group-image" src='/images/bike/{{ product.image }}' alt="" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        {{ product.model }}</h4>
                    <p class="group inner list-group-item-text">
                        {{ product.description }}</p>
                    <div class="row">

                        {%  set promotion_price = calc.calculate(product) %}
                        {%  set price = product.price %}
                        {% if promotion_price != product.price %}

                            <div class="col-xs-12 col-md-6">
                                <p class="lead" style="color: red;">
                                    {{ promotion_price}}</p>
                            </div>

                            <div class="col-xs-12 col-md-6">
                                <p class="lead">
                                    Old price: <s>{{ price }}</s></p>
                            </div>

                            {% else %}

                                <div class="col-xs-12 col-md-6">
                                    <p class="lead">
                                        {{ price }}</p>
                                </div>

                        {% endif %}

                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" href="{{ path('product_show', { 'id': product.id }) }}">Show More</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
    </div>


{% endblock %}