{% extends 'base.html.twig' %}

{% block content %}
    <h1>Product</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ product.id }}</td>
        </tr>
        <tr>
            <th>Model</th>
            <td>{{ product.model }}</td>
        </tr>
        <tr>
            <th>Price</th>
            <td>{{ product.price }}</td>
        </tr>
        <tr>
            <th>Image</th>
            <td>{{ product.image }}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ product.description }}</td>
        </tr>
        <tr>
            <th>Quantity</th>
            <td>{{ product.quantity }}</td>
        </tr>
        </tbody>
    </table>




    {{ form_start(addtocart_form) }}
    <input class="btn btn-primary" type="submit" value="Add To Cart">
    {{ form_end(addtocart_form) }}

    <hr>

    <a href="{{ path('product_index') }}">Back to the list</a>

{% endblock %}
