{% extends 'base.html.twig' %}

{% block content %}
    <h1>Product</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>Model</th>
            <td>{{ product.model }}</td>
        </tr>
        <tr>
            <th>Price</th>
            {% if calculator.calculate(product) != product.price %}

                <td><del>{{ product.price }}</del><p class="alert-danger">{{ calculator.calculate(product) }}</p></td>

            {% else %}

                <td>{{ product.price }}</td>

            {% endif %}
        </tr>
        <tr>
            <th>Image</th>
            <td><img src="/images/bike/{{ product.image }}" style="width: 250px;"></td>
        </tr>
        <tr>
            <th>Description</th>
            <td>{{ product.description }}</td>
        </tr>
        <tr>
            <th>Quantity</th>
            <td>{{ product.quantity }}</td>
        </tr>
        </tbody>
    </table>




    {{ form_start(addtocart_form) }}
    <input class="btn btn-primary" type="submit" value="Add To Cart">
    {{ form_end(addtocart_form) }}

    <hr>

    <a href="{{ path('product_index') }}">Back to the list</a>

{% endblock %}
