{% if cart.status == true %}
    <table class="table">
        <thead>
        <tr>
            <th>Number</th>
            <th>Model</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
        </thead>

        <tbody>

        {% for key,product in products %}
            <tr>
                <td><a href="{{ path('product_show', { 'id': product.id }) }}">{{ key + 1 }}</a></td>
                <td>{{ product.model }}</td>
                {% if calculator.calculate(product) != product.price %}

                    <td>
                        <del>{{ product.price }}</del>
                        <p class="alert-danger">{{ calculator.calculate(product) }}</p></td>

                {% else %}

                    <td>{{ product.price }}</td>
                {% endif %}
                <td>

                    <a href="{{ path('product_show', { 'id': product.id }) }}">More</a>

                    <a href="{{ path('product_edit', { 'id': product.id }) }}">Remove</a>

                </td>
            </tr>
        {% endfor %}

        </tbody>

    </table>

    <a class="btn btn-primary" href="{{ path('order_cart', {'id' : cart.id}) }}">Place Order</a>

{% else %}

    Your cart is empty !

{% endif %}
