{% if cart.status == true %}
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Model</th>
                <th>Price</th>
                <th>Image</th>
                <th>Description</th>
                <th>Quantity</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>

        {% for product in products %}
            <tr>
                <td><a href="{{ path('product_show', { 'id': product.id }) }}">{{ product.id }}</a></td>
                <td>{{ product.model }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.image }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.quantity }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('product_show', { 'id': product.id }) }}">Show More</a>
                        </li>
                        <li>
                            <a href="{{ path('product_edit', { 'id': product.id }) }}">Remove from Cart</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}

        </tbody>

    </table>

    <ul>
        <li>
            <a class="btn btn-primary" href="{{ path('order_cart', {'id' : cart.id}) }}">Place Order</a>
        </li>
    </ul>
{% else %}

Your cart is empty !

{% endif %}
