{% extends 'base.html.twig' %}

{% block title %}
    Admin Panel
{% endblock %}

{% block navigation %}
<ul class="nav navbar-nav navbar-right" xmlns="http://www.w3.org/1999/html">
    <li><p class="navbar-text">Welcome, admin {{ app.user.username }} | </p></li>
    <li><a href="{{ path('product_index_admin') }}">Products</a></li>
    <li><a href="{{ path('category_index') }}">Categories</a></li>

    {% if is_granted('ROLE_ADMIN') %}
    <li><a href="{{ path('user_index') }}">Users</a></li>
    {% endif     %}

    <li><a href="{{ path('logout') }}">Logout</a></li>
</ul>

{% endblock %}

{% block categoriesBar %}
{% endblock %}
