{% extends ':admin:admin_index.html.twig' %}

{% block content %}
    <h1>Categories list</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            {#<th>Actions</th>#}
        </tr>
        </thead>
        <tbody>
        {% for key,category in categories %}
            <tr>
                <td><a href="{{ path('category_show', { 'id': category.id }) }}">{{ key+1 }}</a></td>
                <td>{{ category.name | upper }}</td>
                <td>
                    <a href="{{ path('category_edit', { 'id': category.id }) }}">Edit</a>
                    {#<ul>
                        <li>
                            <a href="{{ path('category_show', { 'id': category.id }) }}">show</a>
                        </li>
                        <li>

                        </li>
                    </ul>#}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


    <a class="btn btn-primary" href="{{ path('category_new') }}">Add a new category</a>


{% endblock %}
