<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>

        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}" />

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

<nav class="navbar navbar-inverse navbar navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Bike Store</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
        </ul>
        {% block navigation %}
            <ul class="nav navbar-nav navbar-right">
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li><p class="navbar-text">Welcome, {{ app.user.username }}</p></li>
                <li><a href="{{ path('cart_show', {"id" : app.user.cart.id })}}">Cart:{{ app.user.cart.getproductcount }} </a></li>
                <li><p class="navbar-text">Money: {{app.user.cash}} BGN </p></li>
            <li><a href="{{ path('logout') }}">Logout</a></li>
            {% else %}


            <li><a href="{{ path('register_user') }}">Register</a></li>
            <li><a href="{{ path('login_user') }}">Login</a></li>
            </ul>

            {% endif %}

        {% endblock %}


            </div>
        </nav>


    <body style="padding-top: 65px; padding-bottom: 65px">
<div>

    {% for type, flash_messages in app.session.flashBag.all %}
        {% for flash_message in flash_messages %}
            <div class="alert alert-{{ type }}">
                {{ flash_message }}
            </div>
        {% endfor %}
    {% endfor %}

</div>

{% block categoriesBar %}  {{ render(controller('AppBundle:Home:renderCategories')) }} {% endblock %}

<div class="container">


    <div class="col-md-4 col-md-offset-4">

        {% block content %}{% endblock %}

    </div>
</div>

        <div class="navbar navbar-inverse navbar navbar-fixed-bottom">
            <div class="container-fluid">
                {% block footer %}
                <p class="navbar-text">Bike Store 2017. All rights reserved. </p>
                {% endblock %}
            </div>
        </div>

</body>
</html>
