{% extends 'admin/admin_index.html.twig' %}

{% block content %}
    <h1>Products list</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Model</th>
                <th>Price</th>
                <th>Category</th>
                <th>Image</th>
                <th>Description</th>
                <th>Quantity</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td><a href="{{ path('product_show_admin', { 'id': product.id }) }}">{{ product.id }}</a></td>
                <td>{{ product.model }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.category }}</td>
                <td>{{ product.image }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.quantity }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('product_show_admin', { 'id': product.id }) }}">Show</a>
                        </li>
                        <li>
                            <a href="{{ path('product_edit', { 'id': product.id }) }}">Edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


            <a class="btn btn-primary" href="{{ path('product_new') }}">Create a new product</a>

{% endblock %}
